<p class="field" id="house_number">
  <%= bill_form.label :house_number, t(:house_number) %><span class="required">*</span><br />
  <%= bill_form.text_field :house_number, :class => 'required' %>
</p>